@* CampoTexto.razor *@

<div class="form-group col-md-@Columnas">
    <label for="@IdUnico">@Titulo</label>
    <DxTextBox
        Id="@IdUnico"
        Text="@Valor"
        TextChanged="OnTextChanged"
    />
</div>

@code {
    [Parameter] public string Titulo { get; set; }
    [Parameter] public string IdUnico { get; set; }
    [Parameter] public string Valor { get; set; }
    [Parameter] public string Columnas { get; set; }
    [Parameter] public EventCallback<string> ValorChanged { get; set; }

    
    private async Task OnTextChanged(string nuevoTexto) 
    {
        Valor = nuevoTexto;
        await ValorChanged.InvokeAsync(nuevoTexto);
    }
}